# Python cache & build
__pycache__/
*.py[ocd]
build/
dist/
wheels/
*.egg-info/
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*
!.env.example  # keep example env

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# uv cache
.uv/
